*{
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    
}

body {
    width: 100%;
    height: 100%;
    background: #cfcfcf;
    color: #ffffff;

}

img{
    border-radius: 50%;
    border: .1em solid #ffffff;
    width: 1.5em;
}

 
p{
    opacity: .5;
}

h2{
    z-index: 10;
}

main{
    display: grid;
    grid-template-areas:"uno"
                        "dos"
                        "tres"
                        "cuatro"
                        "cinco" ;
    margin: 2em 1em;
}

main div {
    margin: 1em 0em;
}

.container > div{
    display: flex;
    margin-bottom: 0em;
}

.container > div  h2 {
    font-size: .8em;
}

.container > div p {
    font-size: .7em;
}

.container > p{
    margin: 1.5em 0em;
    font-size: .8em;
}

.container > h2 {
    font-size: 1.35em;
}

.container.uno{
    grid-area: uno;
    display: flex;
    flex-direction: column;
    background: #7541c8;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 0em 2em;
    border-radius: 1em;
} 

.container.uno svg{
    position: absolute;
    align-self: end;
}

.container.uno > div{
    z-index: 10;
}

.container > div > div{
    z-index: 10;
    margin-left: 1em;
}

.container.dos{
    background: #48556a;
    grid-area: dos;
}

.container.cuatro{
    grid-area: cuatro;
    background: #19212e;
}

.container.tres{
    grid-area: tres;
    background: #ffffff;
    color: #48556a;
}

.container.cinco{
    grid-area: cinco;
    background: #ffffff;
    color: #48556a;
}

@media only screen and (min-width: 1000px){

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }

    main {
        width: 80%;
        grid-template-areas: "uno  uno  uno uno dos    cinco "
                             "tres cuatro cuatro cuatro cuatro cinco";
    }

    .container{
        margin: .8em ;
    }

    .container > p {
        font-size: .9em;
    }

    .container > h2 {
        font-weight: 10;
    }
}